{% extends "asker/base.html" %}
{% load static %}
{% block content %}
    <!-- Begin page content -->
    <main role="main" class="container main_margin">
        <div class="row">
            <div class="col-9">


            <div class="card container mr-4 mt-4">
                <div class="row">
                     <div class="col-1">
                        <img class="rounded mx-auto d-block" src="{{ question.0.author.upload.url }}" alt="" width="40"
                                     height="40" hspace="10" vspace="10">
                    </div>
                    <div class="col-11 text-left">
                        <a class="nav-link" href="{% url 'question' question.0.id %}"><span
                                        class="question">{{ question.0.title }}</span></a>
                    </div>
                </div>


                    <div class="row">
                        <div class="col-1 align-self-center text-center">
                            <a href="#"><img class="arr_button" src="{% static "images/arr_up.png" %}" width="10"
                                                 height="10"></a>
                            <span class="arr_button">{{ question.0.raiting }}</span>
                            <a href="#"><img class="arr_button" src="{% static "images/arr_down.png" %}" width="10"
                                                 height="10"></a>
                        </div>
                        <div class="col-11">
                            <p class="card-text mb-auto d-flex flex-column align-items-start">{{ question.0.text }}</p>
                                <span class="text_style" style="white-space: nowrap; margin-left: 6px"> Tags:</span>
                                {% for tag in question.0.tags.all %}
                                    <a href="{% url 'tag' tag.title %}"> <span class="top_name"> {{ tag.title }}</span></a>
                                {% endfor %}
                        </div>
                    </div>
            </div>



                {% for answer in question.1 %}
                    <div class="card container mr-4 mt-4">

                    <div class="row">
                         <div class="col-1">
                            <img class="rounded mx-auto d-block" src="{{ answer.author.upload.url }}" alt="" width="32"
                                             height="32" hspace="10" vspace="10">
                        </div>
                        <div class="col-11 text-left">
                            <p class="card-text mb-auto d-flex flex-column align-items-start"
                                           style="margin-right: 5px;">{{ answer.author.username }}</p>
                        </div>
                    </div>


                    <div class="row">
                         <div class="col-1">
                            <a href="#"><img class="arr_button" src="{% static "images/arr_up.png" %}"
                                                         width="10" height="10"></a>
                                        <span class="arr_button">{{ answer.raiting }}</span>
                                        <a href="#"><img class="arr_button" src="{% static "images/arr_down.png" %}"
                                                         width="10" height="10"></a>
                        </div>
                        <div class="col-11 text-left">
                            <p class="card-text mb-auto d-flex flex-column align-items-start"
                                           style="margin-right: 5px;">{{ answer.text }}</p>
                        </div>
                    </div>
                    </div>
                {% endfor %}



                <div class="card container mr-4 mt-4">
                <div class="row">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="Answer" style="min-width: 800px" rows="5"
                                      placeholder="Enter your answer here..."></textarea>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="Check">
                            <label class="form-check-label" for="Check"><span class="text_style">Check me please</span></label>
                        </div>
                        <button type="submit" class="btn btn-outline-secondary">Answer</button>
                    </form>
                </div>
            </div>
            </div>



            <div class="col-3">
                {% include "asker/right_tags.html" %}
            </div>
        </div>
        </div>
    </main>
{% endblock %}