{% extends "asker/base.html" %}
{% block content %}
    <!-- Begin page content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-9">
                {% for question in questions %}
                    {% include "asker/one_question.html" %}
                {% endfor %}
                {% include "asker/paginator.html" %}
            </div>
            <div class="col-3">
                {% include "asker/right_tags.html" %}
            </div>
        </div>
    </main>

{% endblock %}